.branch-section {
    background-color: rgb(175, 40, 40);
    padding: 20px;
    margin-top: 5px;
    text-align: center;
  }
  
  .branch-section h1 {
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(175, 40, 40);
  }
  